dj-database-url==0.3.0
Django==1.8.6
django-ajax-selects==1.4.3
django-environ==0.4.0
enum34==1.0.4
facebook-sdk==0.4.0
Flask==0.10.1
Flask-Login==0.2.9
Flask-PyMongo==0.3.1
Flask-Sockets==0.2.1
Flask-SQLAlchemy==2.0
Flask-Stormpath==0.4.4
Flask-WTF==0.12
gevent==1.1.2
gevent-websocket==0.9.5
greenlet==0.4.10
gunicorn==19.3.0
redis==2.10.5
twilio==5.6.0
virtualenv==1.6.1
psycopg2==9.0.1