<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
var cols = ['time', 'phone', 'delay', 'number'];
function loadtabledata(obj){
	var rows = ($("#tbl tbody tr").toArray()).sort(function(a, b) {
  		return parseInt(a.id) - parseInt(b.id);
	});
	var j=0;

	for(var i=0; i<obj.length; i++){
			var insertflag = 0;
			if(j<rows.length){
				while (j<rows.length && obj[i]['id']>parseInt(rows[j].id)){ //keep deleting anys elements
					rows[j].remove(); //delete element j
					console.log("removing element" + rows[j].id);
					rows.splice(j, 1);
					continue;
				} 
				if(j>=rows.length) {
					insertflag=0;
				} else if (obj[i]['id']== parseInt(rows[j].id)){
					j++; //going to update element
				} else if (obj[i]['id']<= parseInt(rows[j].id)){
					var insertflag = 1;//else insert before element j
				}
				
			} else{
				insertflag=0;
			}//append element
			if($('#' + obj[i]['id']).length != 0){
				for(var key in cols){
					//console.log(obj[i]);
					document.getElementById(cols[key] + obj[i]['id']).innerHTML = obj[i][cols[key]];
				}
				if(obj[i]['completed']=='False')$("#replay" + obj[i]['id']).hide();
				else $("#replay" + obj[i]['id']).show();
			} else{
				var str = "";
				//$("#tbl tbody").append( "<tr id=" +obj[i]['id'] +">");
				str= str.concat("<tr id=" +obj[i]['id'] +">");
				for(var key in cols){
					//console.log(obj[i]);
					str =str.concat( "<td id=" + cols[key] + obj[i]['id'] + ">"+ obj[i][cols[key]] + "</td>");					
				}
				
				str = str.concat("<td id=delete" + obj[i]['id'] + "><a href=\"javascript:deleteCall("+ obj[i]['id'] + ");\">delete</a></td>");

				str = str.concat("<td><div id=replay" + obj[i]['id'] + "><a href=\"javascript:replayCall("+ obj[i]['id'] + ");\">replay</a></div></td>");
				str =str.concat( "</tr>");

				if(insertflag==0){
					console.log(str);
					$("#tbl tbody").append(str);
				} else if(insertflag==1){
					$("#"+rows[j].id).before(str);
				}

				if(obj[i]['completed']=='False')$("#replay" + obj[i]['id']).hide();
					
				
			}	
		}

		for(; j<rows.length; j++){
			rows[j].remove(); //delete element j
			console.log("removing element" + rows[j].id);
		}
}

function refreshtable(){
	$.get( "/listcalls/", function( data ) {
		var cols = ['time', 'phone', 'delay']
		var obj = JSON.parse(data);
		
		loadtabledata(obj);
 
	});
}

function loadtable() {
	
	$.get( "/listcalls/", function( data ) {
		var obj = JSON.parse(data);
		str = $("<tr></tr>")
		//str = str.concat( "<tr>");
		for (var key in cols) {
			console.log(key);
			str.append($( "<th>"+cols[key]+"</th>"));
		}
		str.append($("<th>delete</th>"));
		str.append($("<th>replay</th>"));
		//str.append($( "</tr>"));

		$("#tbl thead").html(str);
		console.log(str);
		loadtabledata(obj);
 
	});


}

function createCall(p_var, d_var){
	$.post("/add/", {phone: p_var, delay:d_var}, function(result){});
	refreshtable();
}

function replayCall(id){
	$.post("/replay/"+id+"/", {}, function(result){});
	refreshtable();
}

function deleteCall(id){
	$.post("/delete/"+id+"/", {}, function(result){});
	refreshtable();
}

function submit() {
	var phone = document.getElementsByName('phone')[0].value;
	var delay = document.getElementsByName('delay')[0].value;
	createCall(phone, delay);
	refreshtable();
}

setInterval(function(){ refreshtable(); }, 3000);



</script>
</head>
<body>
<span>
	<p>phone #:</p>
  	<input type="text" name="phone"></input>
  	<p>delay (min):</p>
  	<input type="text" name="delay"></input>
  	<button onclick="submit()">submit</button>
</span>

    
<table id="tbl" class="pure-table">	<thead>  </thead> <tbody> </tbody> </table>

<script>
$("#tbl").load(loadtable());
</script
</body>
</html>