<!DOCTYPE html>
<html>
<head>
<style>
.pad {
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.pad-button {
	padding-top: 18px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script>
var cols = ['time', 'phone', 'delay', 'number'];

/**
Loads table rows
Deletes, appends, and updates records from the database
no need to refresh page, does it automatically for you!
**/
function loadtabledata(obj){
	var rows = ($("#tbl tbody tr").toArray()).sort(function(a, b) {
  		return parseInt(a.id) - parseInt(b.id);
	});
	var j=0;

	for(var i=0; i<obj.length; i++){
			var insertflag = 0;
			if(j<rows.length){
				while (j<rows.length && obj[i]['id']>parseInt(rows[j].id)){ //keep deleting anys elements
					rows[j].remove(); //delete element j
					console.log("removing element" + rows[j].id);
					rows.splice(j, 1);
					continue;
				} 
				if(j>=rows.length) {
					insertflag=0;
				} else if (obj[i]['id']== parseInt(rows[j].id)){
					j++; //going to update element
				} else if (obj[i]['id']<= parseInt(rows[j].id)){
					var insertflag = 1;//else insert before element j
				}
				
			} else{
				insertflag=0;
			}//append element
			if($('#' + obj[i]['id']).length != 0){
				for(var key in cols){
					//console.log(obj[i]);
					document.getElementById(cols[key] + obj[i]['id']).innerHTML = obj[i][cols[key]];
				}
				if(obj[i]['completed']=='False')$("#replay" + obj[i]['id']).hide();
				else $("#replay" + obj[i]['id']).show();
			} else{
				var str = "";
				//$("#tbl tbody").append( "<tr id=" +obj[i]['id'] +">");
				str= str.concat("<tr id=" +obj[i]['id'] +">");
				for(var key in cols){
					//console.log(obj[i]);
					str =str.concat( "<td id=" + cols[key] + obj[i]['id'] + ">"+ obj[i][cols[key]] + "</td>");					
				}
				
				str = str.concat("<td id=delete" + obj[i]['id'] + "><a href=\"javascript:deleteCall("+ obj[i]['id'] + ");\"><i class=\"material-icons\">delete</i></a></td>");

				str = str.concat("<td><div id=replay" + obj[i]['id'] + "><a href=\"javascript:replayCall("+ obj[i]['id'] + ");\"><i class=\"material-icons\">replay</i></a></div></td>");
				str =str.concat( "</tr>");

				if(insertflag==0){
					console.log(str);
					$("#tbl tbody").append(str);
				} else if(insertflag==1){
					$("#"+rows[j].id).before(str);
				}

				if(obj[i]['completed']=='False')$("#replay" + obj[i]['id']).hide();
					
				
			}	
		}

		for(; j<rows.length; j++){
			rows[j].remove(); //delete element j
			console.log("removing element" + rows[j].id);
		}
}

/**
checks if it is a valid phonenumber
inputtxt: string representation of phone number
returns true if valid
**/
function phonenumber(inputtxt) {
  var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
  if(inputtxt.match(phoneno)) {
    return true;
  }
  else {
    return false;
  }
}

/**
call back function for phone textbox
makes it valid if has valid text, invalid if invalid text
**/
function phone(){
	console.log("executed");
	if(phonenumber(document.getElementById("phone").value)){
		$("#phone").addClass("valid").removeClass("invalid");
	} else{
		$("#phone").addClass("invalid").removeClass("valid");
	}
	if(document.getElementById("phone").value==""){
		$("#phone").removeClass("valid invalid")
	}
}

/**
checks if it is a valid unsigned integer
inputtxt: string representation of number
returns true if valid
**/
function delaynumber(inputtxt) {
  var phoneno = /^\d+$/;
  if(inputtxt.match(phoneno)) {
    return true;
  }
  else {
    return false;
  }
}

/**
call back function for delay textbox
makes it valid if has valid text, invalid if invalid text
**/
function delay(){
	console.log("executed");
	if(delaynumber(document.getElementById("delay").value)){
		$("#delay").addClass("valid").removeClass("invalid");
	} else{
		$("#delay").addClass("invalid").removeClass("valid");
	}
	if(document.getElementById("delay").value==""){
		$("#delay").removeClass("valid invalid")
	}
}

/**
refresh table method
**/
function refreshtable(){
	$.get( "/listcalls/", function( data ) {
		var cols = ['time', 'phone', 'delay']
		var obj = JSON.parse(data);
		
		loadtabledata(obj);
 
	});
}

/**
load table method
adds table headers
**/
function loadtable() {
	
	$.get( "/listcalls/", function( data ) {
		var obj = JSON.parse(data);
		str = $("<tr></tr>")
		//str = str.concat( "<tr>");
		for (var key in cols) {
			console.log(key);
			str.append($( "<th>"+cols[key]+"</th>"));
		}
		str.append($("<th>delete</th>"));
		str.append($("<th>replay</th>"));
		//str.append($( "</tr>"));

		$("#tbl thead").html(str);
		console.log(str);
		loadtabledata(obj);
 
	});
}

/**
add call method
**/
function createCall(p_var, d_var){
	if($("#delay").hasClass("invalid") || $("#phone").hasClass("invalid")){
		alert("please enter phone: XXX XXX-XXXX and delay(sec) as positive integer number");
		return;
	}
	$.post("/add/", {phone: p_var, delay:d_var}, function(result){});
	refreshtable();
}
/**
replay call method
**/
function replayCall(id){
	$.post("/replay/"+id+"/", {}, function(result){});
	refreshtable();
}

/**
delete call method
**/
function deleteCall(id){
	$.post("/delete/"+id+"/", {}, function(result){});
	refreshtable();
}

/**
submit button method, prepare for add createCall method call
**/
function submit() {
	var phone = document.getElementById('phone').value;
	var delay = document.getElementById('delay').value;
	createCall(phone, delay);
	refreshtable();
}

/**
set repeating refresh of table
**/
setInterval(function(){ refreshtable(); }, 3000);



</script>
</head>
<body>
 <div id = "navbar-fixed" class="row pad section" style="height: 130px;">
 	  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">  Sammy Moseley's Fizz Buzz App</a>
      </ul>
    </div>
  </nav>  
  <p>Place a call by entering a phone numeber and a delay time in seconds. You can replay a call by clicking the replay button. This is only available once the call has been recieved and user has entered a number. Delete a call record by pressing the delete button.</p>
      <div class="row">
        <div class="input-field col s5">
          <input id="phone" type="tel" onchange="phone()">
          <label for="phone" data-error="wrong" data-success="right">phone #</label>
        </div>
        <div class="input-field col s5">
          <input id="delay" type="text" onchange="delay()">
          <label for="delay" data-error="wrong" data-success="right">delay (sec)</label>
        </div>
        <div class="pad-button">
        <button class="btn waves-effect waves-light" onclick="submit()">Submit
  		</button>
        </div>
      </div>
 </div>

<div class="pad">    
<table id="tbl" class="pure-table">	<thead>  </thead> <tbody> </tbody> </table>
</div>
<script>
$("#tbl").load(loadtable());
</script
</body>
</html>